body{
    background-color: aliceblue;
    
}

.img
{
    width: 200px;
    border-radius: 10px;
}
#movieslist
{
    width: 100%;
    padding: 30px;
}
.movieslist-container{
   display: flex;
   flex-direction: row;
   gap: 20px;
   
}
.cards{
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

input{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#spinner{
    width: 40px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    animation: spin 2s infinite;
 }
 
 @keyframes spin {
   0%{
     transform: rotate(0deg);
   }
   100%{
     transform: rotate(360deg);
   }
 }