body{
    background-color: aliceblue;
    
}

.img
{
    width: 200px;
    border-radius: 10px;
}
#movieslist
{
    width: 100%;
    padding: 30px;
}
.movieslist-container{
   display: flex;
   flex-direction: row;
   gap: 20px;
   
}
.cards{
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

input{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}